.acordeon{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem 0;
    border: 1px solid #fff;
    border-radius: 1rem;
    transition: 0.25s;
}

.acordeon.open,
.acordeon:hover{
    background-color: #55569E;
    border-color: #55569E;
}

.acordeon .triger{
    font-size: 1.5rem;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: transparent;
    color: #fff;
    border: none;
}

.acordeon .triger h2{
    margin: 0;
    font-size: 1.5rem;
    text-align: start;
}

.acordeon .triger:hover{
    cursor: pointer;
}

.acordeon .triger::after{
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('/assets/images/icons/arrow-top.svg');
    transition: .625s;
}

.acordeon.open .triger::after{
    transform: rotate(180deg);
}

.acordeon .content{
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: opacity .5s ease-in-out ;
}

.acordeon.open .content{
    display: block;
    padding: 0 1rem 1rem 2rem;
    height: auto;
    opacity: 1;
}